{% load static %}
{% load shop_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

<!-- Верхняя навигация -->
<div class="topnav">
	{% get_menu as menu %}
	{% for m in menu %}
	{% if not forloop.last %}
	<a href="{% url m.url_name %}">{{m.title}}</a>
	{% else %}
	<a class="last" href="{% url m.url_name %}">{{m.title}}</a>
	{% endif %}
	{% endfor %}
</div>
<!-- Верхняя навигация -->

<!-- Боковая навигация -->
{% show_categories cat_selected=selected_category.id %}
<!-- Боковая навигация -->

{% block content %}
{% endblock %}
</body>
</html>